<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
					<p>{{message}}</p>
				{% endfor %}
			{% endif %}
	{% endwith %}
	<h2>Email Addresses Entered</h2>
	<table id="email_table">
		<tr>
			<th>Address</th>
			<th>Date Entered</th>
		</tr>
		{% for email in all_emails: %}
			<tr>
				<td>{{ email['address'] }}</td>
				<td>{{ email['created_at'].strftime( '%m/%d/%Y %I:%M %p') }}</td>
			</tr>
		{% endfor %}
	</table>
</body>
</html>